@page "/"
@page "/lobby"

@using HuskyNet.WebClient.Services;

<div class="page-insert">

	<div class="page-lobby">

		@if (ClientService.View?.Lobby != null)
		{
			<h3>Players</h3>

			<div class="row">
				@for (int i = 0; i < 2; i++)
				{
					int teamId = i;

					<div class="col-sm-6">

						<h4>Team @(teamId + 1)</h4>

						@if (ClientService.View.Lobby != null)
						{
							foreach (var player in ClientService.View.Lobby.Players)
							{
								if (player.Value.TeamId != teamId)
								{
									continue;
								}

								<div class="input-group">
									@if (player.Key == ClientService.View?.Client.ClientId)
									{
										<input class="form-control col-sm-8" @bind="YourName" @bind:event="oninput" />
										<select class="form-select col-sm-4" @bind="YourClass">
											<option value="scout">Scout</option>
											<option value="gunship">Gunship</option>
											<option value="battleship">Battleship</option>
											<option value="capital">Capital</option>
										</select>
									}
									else
									{
										<span class="input-group-text col-sm-8" id="basic-addon1">@player.Value.DisplayName</span>
										<span class="input-group-text col-sm-4" id="basic-addon1">@player.Value.ShipClass</span>
									}
								</div>
							}
						}

						@if (YourTeam != teamId)
						{
							<div class="input-group">
								<button class="btn btn-primary" @onclick="() => JoinTeamButton(teamId)">Join Team @(teamId + 1)</button>
							</div>
						}
					</div>
				}
			</div>

			<div style="height: 64px"></div>

			<div class="row">
				<button class="btn btn-primary" @onclick="LaunchGameButton">Launch Game</button>
			</div>

			<div style="height: 64px"></div>

			<h3>Spectators</h3>

			@if (ClientService.View.Lobby != null)
			{
				foreach (var player in ClientService.View.Lobby.Players)
				{
					if (player.Value.TeamId != -1)
					{
						continue;
					}

					<div class="input-group">
						@if (player.Key == ClientService.View.Client.ClientId)
						{
							<input class="form-control" @bind="YourName" @bind:event="oninput" />
						}
						else
						{
							<span class="input-group-text" id="basic-addon1">@player.Value.DisplayName</span>
						}
					</div>
				}
			}

			<div class="input-group">
				<button class="btn btn-primary" @onclick="() => JoinTeamButton(-1)">Spectate</button>
			</div>
		}
		else
		{
			<h1>Connecting...</h1>
		}

	</div>
</div>
