@page "/lobby"

@using HuskyNet.WebClient.Services;

<div class="page-insert">

	<div class="page-lobby">

		<div style="height: 128px"></div>

		@if (Client.View?.Lobby != null)
		{
			<h3>Players</h3>

			<div class="row">
				@for (int i = 0; i < 2; i++)
				{
					int teamId = i;

					<div class="col-sm-6">

						<h4>Team @(teamId + 1)</h4>

						@if (Client.View.Lobby != null)
						{
							foreach (var player in Client.View.Lobby.Players)
							{
								if (player.Value.TeamId != teamId)
								{
									continue;
								}

								<div class="input-group">
									@if (player.Key == Client.View?.Client.ClientId)
									{
										<input class="form-control col-sm-8" @bind="YourName" @bind:event="oninput" />
										<select class="form-select col-sm-4" @bind="YourClass">
											<option value="scout">Scout</option>
											<option value="gunship">Gunship</option>
											<option value="battleship">Battleship</option>
											<option value="capital">Capital</option>
										</select>
									}
									else
									{
										<span class="input-group-text col-sm-8" id="basic-addon1">@player.Value.DisplayName</span>
										<span class="input-group-text col-sm-4" id="basic-addon1">@player.Value.ShipClass</span>
									}
								</div>
							}
						}

						@if (YourTeam != teamId)
						{
							<div class="input-group">
								<button class="btn btn-primary" @onclick="() => JoinTeamButton(teamId)">Join Team @(teamId + 1)</button>
							</div>
						}
					</div>
				}
			</div>

			<div style="height: 64px"></div>

			<div class="row">
				<button class="btn btn-primary" @onclick="this.LaunchGameButton">Launch Game</button>
			</div>

			<div style="height: 64px"></div>

			<h3>Spectators</h3>

			@if (Client.View.Lobby != null)
			{
				foreach (var player in Client.View.Lobby.Players)
				{
					if (player.Value.TeamId != -1)
					{
						continue;
					}

					<div class="input-group">
						@if (player.Key == Client.View.Client.ClientId)
						{
							<input class="form-control" @bind="YourName" @bind:event="oninput" />
						}
						else
						{
							<span class="input-group-text" id="basic-addon1">@player.Value.DisplayName</span>
						}
					</div>
				}
			}

			<div class="input-group">
				<button class="btn btn-primary" @onclick="() => JoinTeamButton(-1)">Spectate</button>
			</div>


			<h1>Guide</h1>

			<p>Team-based PvP</p>

			<h2>Classes</h2>

			<ul class="list-unstyled">

				<li class="media">
					<div class="mr-3 ship-preview">
						<div class="ship-scout"></div>
					</div>
					<div class="media-body">
						<h5 class="mt-0">Scout</h5>
						<p>Fast-moving with rapid-fire lasers.</p>
						<p><b>Tip:</b> Use your speed to tank a few hits and safely retreat to the back lines until your needed again.</p>
					</div>
				</li>

				<li class="media">
					<div class="mr-3 ship-preview">
						<div class="ship-gunship"></div>
					</div>
					<div class="media-body">
						<h5 class="mt-0">Gunship</h5>
						<p>Long-ranged, slow-moving ship with a high-damage torpedo ability.</p>
						<p><b>Tip:</b> Stay out of the range of your enemies and rain-down fire from a distance.</p>
					</div>
				</li>

				<li class="media">
					<div class="mr-3 ship-preview">
						<div class="ship-battleship"></div>
					</div>
					<div class="media-body">
						<h5 class="mt-0">Battleship</h5>
						<p>Durable, slow-moving with close-range lasers.</p>
						<p><b>Tip:</b> Charge the enemy to absorbe fire for your <b>gunships</b> and <b>scouts</b>..</p>
					</div>
				</li>

				<li class="media">
					<div class="mr-3 ship-preview">
						<div class="ship-capital"></div>
					</div>
					<div class="media-body">
						<h5 class="mt-0">Capital</h5>
						<p>Durable ship with game-changing firepower in bursts</p>
						<p><b>Tip:</b> Use the <b>barrage</b> ability button at the bottom-right of your screen to deliver a stream of high-damage torpedoes.</p>
					</div>
				</li>

			</ul>
		}
		else
		{
			<h1>Connecting...</h1>
		}

		<div style="height: 128px"></div>

	</div>
</div>
