@page "/navigate"

@layout LostInSpace.WebApp.Client.Shared.GameLayout;

@using HuskyNet.WebClient.Services;

<div class="page-insert">

	<div class="page-gridarea">
		<div class="grid" id="zoomcanvasid" @onclick="MapOnClick">

			@if (ClientService.View?.Lobby?.World?.Ships != null)
			{
				@foreach (var shipKvp in ClientService.View.Lobby.World.Ships)
				{
					var ship = shipKvp.Value;

					<div class="player" style="top: 0; left: 0; transform: translate(@(ship.Position.x)px, @(ship.Position.y)px)">

						<div class="player-ship" style="transform: rotate(@(ship.Rotation + 180.0f)deg);">

						</div>

						<label>Name</label>

					</div>
				}
			}
		</div>

		<div class="game-btn game-btn-navigate">Goto</div>
	</div>

	<div class="page-statusarea">
		<h3>Dashboard</h3>

		<div class="dashboard-row">
			<div class="warning-light active">Low Fuel</div>
			<div class="warning-light">Low Supplies</div>
			<div class="danger-light">Engine Fire!</div>
			<div class="danger-light active">Out of Fuel</div>
		</div>

		@if (ClientService.View?.Lobby != null)
		{
			@foreach (var character in ClientService.View.Lobby.World.Ships)
			{
				<p><b>@character.Key</b>: @character.Value.Position.x.ToString("0.00"), @character.Value.Position.y.ToString("0.00")</p>
			}
		}
	</div>
</div>
