@page "/navigate"

@using HuskyNet.WebClient.Services;

<h1>Client</h1>

@if (ClientService.View?.Lobby?.World?.Ships != null)
{
	<div style="overflow: hidden; flex-grow: 1; width: 100%; height: 512px;">

		<div id="zoomcanvasid" style="height: 100%;" @onclick="MapOnClick">

			@foreach (var shipKvp in ClientService.View.Lobby.World.Ships)
			{
				var ship = shipKvp.Value;

				<div class="player" style="top: @(ship.Position.y)px; left: @(ship.Position.x)px;">

				</div>
			}

		</div>

	</div>

	<p>@InputDebug</p>

	<div>
		<h3>Characters</h3>
		@if (ClientService.View.Lobby != null)
		{
			@foreach (var character in ClientService.View.Lobby.World.Ships)
			{
				<p><b>@character.Key</b>: @character.Value.Position.x.ToString("0.00"), @character.Value.Position.y.ToString("0.00")</p>
			}
		}
	</div>
}