@page "/lobby"

<div class="page-insert">

	<div class="page-lobby">

		<div class="my-5"></div>

		@if (Client?.View?.Lobby != null)
		{
			<h3>Players</h3>

			<div class="row my-3">
				@for (int i = 0; i < 2; i++)
				{
					int teamId = i;

					<div class="col-sm-6">

						<h4>Team @(teamId + 1)</h4>

						@if (Client.View.Lobby != null)
						{
							foreach (var player in Client.View.Lobby.Players)
							{
								if (player.Value.TeamId != teamId)
								{
									continue;
								}

								<div class="input-group">
									@if (player.Key == Client.View?.Client?.ClientId)
									{
										<input class="form-control col-sm-8" @bind="YourName" @bind:event="oninput" />
										<select class="form-select col-sm-4" @bind="YourClass">
											<option value="scout">Scout</option>
											<option value="gunship">Gunship</option>
											<option value="battleship">Battleship</option>
											<option value="capital">Capital</option>
										</select>
									}
									else
									{
										<span class="input-group-text col-sm-8" id="basic-addon1">@player.Value.DisplayName</span>
										<span class="input-group-text col-sm-4" id="basic-addon1">@player.Value.ShipClass</span>
									}
								</div>
							}
						}

						@if (YourTeam != teamId)
						{
							<div class="input-group">
								<button class="btn btn-outline-secondary" style="width: 100%;" @onclick="() => JoinTeamButton(teamId)">Join <b>Team @(teamId + 1)</b></button>
							</div>
						}
					</div>
				}
			</div>

			<div class="row my-5">
				<button class="btn btn-outline-primary" @onclick="this.LaunchGameButton">Launch Game</button>
			</div>

			<h3>Spectators</h3>

			<div class="col-sm-6">
				@if (Client.View.Lobby != null)
				{
					foreach (var player in Client.View.Lobby.Players)
					{
						if (player.Value.TeamId != -1)
						{
							continue;
						}

						<div class="input-group">
							@if (player.Key == Client?.View?.Client?.ClientId)
							{
								<input class="form-control" @bind="YourName" @bind:event="oninput" />
							}
							else
							{
								<span class="input-group-text" id="basic-addon1">@player.Value.DisplayName</span>
							}
						</div>
					}
				}
			</div>

			<div class="input-group">
				<button class="btn btn-outline-secondary" @onclick="() => JoinTeamButton(-1)">Spectate</button>
			</div>
		}
		else
		{
			<h1>Connecting...</h1>
		}

		<div style="height: 128px"></div>

		<UserGuide />

	</div>
</div>
